<div class="col-md-3"></div>
<div class="col-md-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Genres</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-6" ng-click="sort('name')">Name &nbsp;&nbsp;
                        <i class="fa " ng-show="sortKey=='name'" ng-class="{'fa-sort-asc':reverse,'fa-sort-desc':!reverse}"></i>
                    </th>
                    <th class="col-md-4">Num movies</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="gen in genres | orderBy:sortKey:reverse | filter:search | itemsPerPage:5" ng-model="search">
                    <td class="col-md-6">{{gen.name}}</td>
                    <td class="col-md-4">{{gen.num}}</td>
                    <td class="col-md-2"><a ng-click="dropGnre(gen)"><i
                            class="btn btn-danger btn-danger-custom fa fa-trash-o"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <dir-pagination-controls class="text-center center-block"
                                     max-size="5"
                                     direction-links="true"
                                     boundary-links="true" >
            </dir-pagination-controls>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Filters</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" ng-model="search" class="form-control" placeholder="Search"> <i class="btn btn-default fa fa-refresh" ng-click="search=undefined"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Actions</h2>
            <a ng-click="addGenre()" class="btn btn-primary">Add Genre</a>
        </div>
    </div>
</div>