<div class="col-md-3"></div>
<div class="col-md-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Genres</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="col-md-6" ng-click="sortGenres('name')">Name &nbsp;&nbsp;
                        <i class="fa " ng-show="sortKeyGen=='name'" ng-class="{'fa-sort-asc':reverseGen,'fa-sort-desc':!reverseGen}"></i>
                    </th>
                    <th class="col-md-4">Num movies</th>
                    <th class="col-md-2"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="gen in genres | orderBy:sortKeyGen:reverseGen | filter:searchGen" ng-model="searchGen">
                    <td class="col-md-6">{{gen.name}}</td>
                    <td class="col-md-4">{{gen.num}}</td>
                    <td class="col-md-2"><a ng-click="dropGnre(gen)"><i
                            class="btn btn-danger btn-danger-custom fa fa-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Filters</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="genre" class="form-inline">
                <div class="form-group">
                    <input type="text" ng-model="searchGen" class="form-control" placeholder="Search" required>
                    <i class="btn btn-default fa fa-refresh" ng-click="searchGen=undefined"></i>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Actions</h2>
            <a ng-click="addGenre()" class="btn btn-primary">Add Genre</a>
        </div>
    </div>
</div>