<div class="row" ng-controller="MovieCtrl as mov">

    <div class="col-md-3"></div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-12">
                <h1>Movies</h1>
            </div>
        </div>
        <div class="row" ng-class="!msg.text ? 'hidden' : 'show'">
            <div class="col-md-12">
                <message-box ng-type="{{msg.type}}" ng-title="{{msg.text}}">{{msg.text}}</message-box>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-md-6" ng-click="mov.sortMovies('name')">Title &nbsp;&nbsp;
                            <i class="fa " ng-show="mov.sortKeyMovie=='name'" ng-class="{'fa-sort-asc':mov.reverseMovie,'fa-sort-desc':!mov.reverseMovie}"></i>
                        </th>
                        <th class="col-md-4">Genre</th>
                        <th class="col-md-2"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="movie in movies | orderBy:mov.sortKeyMovie:mov.reverseMovie | filter:mov.searchMovie track by $index" ng-model="mov.searchMovie">
                        <td class="col-md-6">{{movie.name}}</td>
                        <td class="col-md-4">{{movie.genre}}</td>
                        <td class="col-md-2"><a ng-click="mov.dropMovie(movie)"><i
                                class="btn btn-danger btn-danger-custom fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Filters</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="movie" class="form-inline">
                    <div class="form-group">
                        <input type="text" ng-model="mov.searchMovie" class="form-control" placeholder="Search">
                        <i class="btn btn-default fa fa-refresh" ng-click="mov.searchMovie=undefined"></i>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Actions</h2>
                <a ng-click="mov.addMovie()" class="btn btn-primary">Add Movie</a>
            </div>
        </div>
    </div>
</div>