<!-- Main navigation -->
<header class="header" role="banner" itemscope>
    <div id="inner-header" class="wrap container cf">

        <!-- logo -->
        <h1 id="logo" class="text-hide h1 pull-left" itemscope>
            <a href="#/" rel="nofollow"><img src="/images/favicon.png" alt=""></a>
        </h1>
        <!-- hamburger icon -->
        <responsive-nav></responsive-nav>
    </div>
</header>

<div class="responsive-wrapper">
    <ul class="cf responsive-nav option-set">
        <li>
            <a href="#/" rel="nofollow"><img src="/images/favicon.png" alt=""></a>
        </li>
    </ul>
</div>
