<form name="newGenre" method="post" novalidate ng-controller="GenreCtrl as gen">
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>Name</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" data-ng-model="genre.name" ng-class="{ 'error' : newGenre.$invalid }" class="text form-control" name="name" required ng-minlength="3" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" ng-messages="newGenre.name.$error" ng-show='submitted' role="alert">
                    <div ng-message="required"><span>You must enter a Genre name</span></div>
                    <div ng-message="minlength"><span>Your field is too short. 3 chars min</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default"
                data-ng-click="modalOptions.close();" data-dismiss="modal">Cancel
        </button>
        </button>
        <button type="submit" id="submit" data-ng-click="newGenre.$valid && (gen.createGenre(newGenre, modalOptions)); submitted=true" class="btn btn-primary">{{modalOptions.actionButtonText}}
        </button>
    </div>
</form>