<form name="newMovie" method="post" novalidate>
    <div class="modal-header">
        <h3>{{modalOptions.headerText}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <label>Title</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="text" data-ng-model="movie.name"  ng-class="{ 'error' : newMovie.$invalid }" class="text form-control" name="name" required ng-minlength="3" value="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <!--{{genres}}-->
                <select class="form-control" data-ng-model="movie.genre" name="genre" id="repeatSelect" required>
                    <option ng-repeat="genre in genres" value="{{genre.name}}" required>{{genre.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default"
                data-ng-click="modalOptions.close();" data-dismiss="modal">Cancel
        </button>
        </button>
        <button type="submit" data-ng-click="newMovie.$valid && (createMovie(newMovie, modalOptions))" class="btn btn-primary">{{modalOptions.actionButtonText}}
        </button>
    </div>
</form>